{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "To manage and control access to your resources, you can define customized policies and assign them at a scope.",
        "title": "PolicyClient",
        "version": "2016-04-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/stable/2016-04-01/policy.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "resources-policy",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyassignments": {
            "get": {
                "description": "Gets all the policy assignments for a subscription.",
                "operationId": "PolicyAssignments_List",
                "parameters": [
                    {
                        "description": "The filter to apply on the operation.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns an array of policy assignments.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of policy assignments.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "An array of policy assignments.",
                                            "items": {
                                                "description": "The policy assignment.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties for the policy assignment.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "displayName": {
                                                                "description": "The display name of the policy assignment.",
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionId": {
                                                                "description": "The ID of the policy definition.",
                                                                "type": "string"
                                                            },
                                                            "scope": {
                                                                "description": "The scope for the policy assignment.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The type of the policy assignment.",
                                                        "type": "string"
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "List of policy assignments.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "An array of policy assignments.",
                                            "items": {
                                                "description": "The policy assignment.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties for the policy assignment.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "displayName": {
                                                                "description": "The display name of the policy assignment.",
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionId": {
                                                                "description": "The ID of the policy definition.",
                                                                "type": "string"
                                                            },
                                                            "scope": {
                                                                "description": "The scope for the policy assignment.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The type of the policy assignment.",
                                                        "type": "string"
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "PolicyAssignments"
                ],
                "x-ms-odata": "#/components/schemas/PolicyAssignment",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policydefinitions": {
            "get": {
                "description": "Gets all the policy definitions for a subscription.",
                "operationId": "PolicyDefinitions_List",
                "parameters": [
                    {
                        "description": "The filter to apply on the operation.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns ana array of policy definitions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of policy definitions.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "An array of policy definitions.",
                                            "items": {
                                                "description": "The policy definition.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the policy definition.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the policy definition. If you do not specify a value for name, the value is inferred from the name value in the request URI.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "The policy definition properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "description": {
                                                                "description": "The policy definition description.",
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "The display name of the policy definition.",
                                                                "type": "string"
                                                            },
                                                            "policyRule": {
                                                                "description": "The policy rule.",
                                                                "type": "object"
                                                            },
                                                            "policyType": {
                                                                "description": "The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.",
                                                                "enum": [
                                                                    "NotSpecified",
                                                                    "BuiltIn",
                                                                    "Custom"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "policyType"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "List of policy definitions.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "An array of policy definitions.",
                                            "items": {
                                                "description": "The policy definition.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the policy definition.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the policy definition. If you do not specify a value for name, the value is inferred from the name value in the request URI.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "The policy definition properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "description": {
                                                                "description": "The policy definition description.",
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "The display name of the policy definition.",
                                                                "type": "string"
                                                            },
                                                            "policyRule": {
                                                                "description": "The policy rule.",
                                                                "type": "object"
                                                            },
                                                            "policyType": {
                                                                "description": "The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.",
                                                                "enum": [
                                                                    "NotSpecified",
                                                                    "BuiltIn",
                                                                    "Custom"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "policyType"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "PolicyDefinitions"
                ],
                "x-ms-odata": "#/components/schemas/PolicyDefinition",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policydefinitions/{policyDefinitionName}": {
            "delete": {
                "description": "Deletes a policy definition.",
                "operationId": "PolicyDefinitions_Delete",
                "parameters": [
                    {
                        "description": "The name of the policy definition to delete.",
                        "in": "path",
                        "name": "policyDefinitionName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    }
                },
                "tags": [
                    "PolicyDefinitions"
                ]
            },
            "get": {
                "description": "Gets the policy definition.",
                "operationId": "PolicyDefinitions_Get",
                "parameters": [
                    {
                        "description": "The name of the policy definition to get.",
                        "in": "path",
                        "name": "policyDefinitionName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns information about the policy definition.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The policy definition.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy definition.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy definition. If you do not specify a value for name, the value is inferred from the name value in the request URI.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The policy definition properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "description": {
                                                    "description": "The policy definition description.",
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The display name of the policy definition.",
                                                    "type": "string"
                                                },
                                                "policyRule": {
                                                    "description": "The policy rule.",
                                                    "type": "object"
                                                },
                                                "policyType": {
                                                    "description": "The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.",
                                                    "enum": [
                                                        "NotSpecified",
                                                        "BuiltIn",
                                                        "Custom"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "policyType"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "The policy definition.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy definition.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy definition. If you do not specify a value for name, the value is inferred from the name value in the request URI.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The policy definition properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "description": {
                                                    "description": "The policy definition description.",
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The display name of the policy definition.",
                                                    "type": "string"
                                                },
                                                "policyRule": {
                                                    "description": "The policy rule.",
                                                    "type": "object"
                                                },
                                                "policyType": {
                                                    "description": "The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.",
                                                    "enum": [
                                                        "NotSpecified",
                                                        "BuiltIn",
                                                        "Custom"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "policyType"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "PolicyDefinitions"
                ]
            },
            "put": {
                "description": "Creates or updates a policy definition.",
                "operationId": "PolicyDefinitions_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The name of the policy definition to create.",
                        "in": "path",
                        "name": "policyDefinitionName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created - Returns information about the policy definition.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The policy definition.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy definition.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy definition. If you do not specify a value for name, the value is inferred from the name value in the request URI.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The policy definition properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "description": {
                                                    "description": "The policy definition description.",
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The display name of the policy definition.",
                                                    "type": "string"
                                                },
                                                "policyRule": {
                                                    "description": "The policy rule.",
                                                    "type": "object"
                                                },
                                                "policyType": {
                                                    "description": "The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.",
                                                    "enum": [
                                                        "NotSpecified",
                                                        "BuiltIn",
                                                        "Custom"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "policyType"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "The policy definition.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy definition.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy definition. If you do not specify a value for name, the value is inferred from the name value in the request URI.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The policy definition properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "description": {
                                                    "description": "The policy definition description.",
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The display name of the policy definition.",
                                                    "type": "string"
                                                },
                                                "policyRule": {
                                                    "description": "The policy rule.",
                                                    "type": "object"
                                                },
                                                "policyType": {
                                                    "description": "The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.",
                                                    "enum": [
                                                        "NotSpecified",
                                                        "BuiltIn",
                                                        "Custom"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "policyType"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "PolicyDefinitions"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The policy definition.",
                                "properties": {
                                    "id": {
                                        "description": "The ID of the policy definition.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The name of the policy definition. If you do not specify a value for name, the value is inferred from the name value in the request URI.",
                                        "type": "string"
                                    },
                                    "properties": {
                                        "description": "The policy definition properties.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "description": {
                                                "description": "The policy definition description.",
                                                "type": "string"
                                            },
                                            "displayName": {
                                                "description": "The display name of the policy definition.",
                                                "type": "string"
                                            },
                                            "policyRule": {
                                                "description": "The policy rule.",
                                                "type": "object"
                                            },
                                            "policyType": {
                                                "description": "The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.",
                                                "enum": [
                                                    "NotSpecified",
                                                    "BuiltIn",
                                                    "Custom"
                                                ],
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": true,
                                                    "name": "policyType"
                                                }
                                            }
                                        }
                                    }
                                },
                                "x-ms-azure-resource": true,
                                "type": "object"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "description": "The policy definition.",
                                "properties": {
                                    "id": {
                                        "description": "The ID of the policy definition.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The name of the policy definition. If you do not specify a value for name, the value is inferred from the name value in the request URI.",
                                        "type": "string"
                                    },
                                    "properties": {
                                        "description": "The policy definition properties.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "description": {
                                                "description": "The policy definition description.",
                                                "type": "string"
                                            },
                                            "displayName": {
                                                "description": "The display name of the policy definition.",
                                                "type": "string"
                                            },
                                            "policyRule": {
                                                "description": "The policy rule.",
                                                "type": "object"
                                            },
                                            "policyType": {
                                                "description": "The type of policy definition. Possible values are NotSpecified, BuiltIn, and Custom.",
                                                "enum": [
                                                    "NotSpecified",
                                                    "BuiltIn",
                                                    "Custom"
                                                ],
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": true,
                                                    "name": "policyType"
                                                }
                                            }
                                        }
                                    }
                                },
                                "x-ms-azure-resource": true,
                                "type": "object"
                            }
                        }
                    },
                    "description": "The policy definition properties.",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/policyAssignments": {
            "get": {
                "description": "Gets policy assignments for the resource group.",
                "operationId": "PolicyAssignments_ListForResourceGroup",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains policy assignments.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The filter to apply on the operation.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns an array of policy assignments.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of policy assignments.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "An array of policy assignments.",
                                            "items": {
                                                "description": "The policy assignment.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties for the policy assignment.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "displayName": {
                                                                "description": "The display name of the policy assignment.",
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionId": {
                                                                "description": "The ID of the policy definition.",
                                                                "type": "string"
                                                            },
                                                            "scope": {
                                                                "description": "The scope for the policy assignment.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The type of the policy assignment.",
                                                        "type": "string"
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "List of policy assignments.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "An array of policy assignments.",
                                            "items": {
                                                "description": "The policy assignment.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties for the policy assignment.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "displayName": {
                                                                "description": "The display name of the policy assignment.",
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionId": {
                                                                "description": "The ID of the policy definition.",
                                                                "type": "string"
                                                            },
                                                            "scope": {
                                                                "description": "The scope for the policy assignment.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The type of the policy assignment.",
                                                        "type": "string"
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "PolicyAssignments"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/policyassignments": {
            "get": {
                "description": "Gets policy assignments for a resource.",
                "operationId": "PolicyAssignments_ListForResource",
                "parameters": [
                    {
                        "description": "The name of the resource group containing the resource. The name is case insensitive.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The namespace of the resource provider.",
                        "in": "path",
                        "name": "resourceProviderNamespace",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The parent resource path.",
                        "in": "path",
                        "name": "parentResourcePath",
                        "required": true,
                        "x-ms-skip-url-encoding": true,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "The resource type.",
                        "in": "path",
                        "name": "resourceType",
                        "required": true,
                        "x-ms-skip-url-encoding": true,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "The name of the resource with policy assignments.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The filter to apply on the operation.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns an array of policy assignments.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of policy assignments.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "An array of policy assignments.",
                                            "items": {
                                                "description": "The policy assignment.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties for the policy assignment.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "displayName": {
                                                                "description": "The display name of the policy assignment.",
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionId": {
                                                                "description": "The ID of the policy definition.",
                                                                "type": "string"
                                                            },
                                                            "scope": {
                                                                "description": "The scope for the policy assignment.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The type of the policy assignment.",
                                                        "type": "string"
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "List of policy assignments.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "An array of policy assignments.",
                                            "items": {
                                                "description": "The policy assignment.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the policy assignment.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties for the policy assignment.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "displayName": {
                                                                "description": "The display name of the policy assignment.",
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionId": {
                                                                "description": "The ID of the policy definition.",
                                                                "type": "string"
                                                            },
                                                            "scope": {
                                                                "description": "The scope for the policy assignment.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The type of the policy assignment.",
                                                        "type": "string"
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "PolicyAssignments"
                ],
                "x-ms-odata": "#/components/schemas/PolicyAssignment",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/{policyAssignmentId}": {
            "delete": {
                "description": "When providing a scope for the assignment, use '/subscriptions/{subscription-id}/' for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}' for resources.",
                "operationId": "PolicyAssignments_DeleteById",
                "parameters": [
                    {
                        "description": "The ID of the policy assignment to delete. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'.",
                        "in": "path",
                        "name": "policyAssignmentId",
                        "required": true,
                        "x-ms-skip-url-encoding": true,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns information about the policy assignment.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The policy assignment.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy assignment.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy assignment.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the policy assignment.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "displayName": {
                                                    "description": "The display name of the policy assignment.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionId": {
                                                    "description": "The ID of the policy definition.",
                                                    "type": "string"
                                                },
                                                "scope": {
                                                    "description": "The scope for the policy assignment.",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the policy assignment.",
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "The policy assignment.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy assignment.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy assignment.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the policy assignment.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "displayName": {
                                                    "description": "The display name of the policy assignment.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionId": {
                                                    "description": "The ID of the policy definition.",
                                                    "type": "string"
                                                },
                                                "scope": {
                                                    "description": "The scope for the policy assignment.",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the policy assignment.",
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Deletes a policy assignment by ID.",
                "tags": [
                    "PolicyAssignments"
                ]
            },
            "get": {
                "description": "When providing a scope for the assignment, use '/subscriptions/{subscription-id}/' for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}' for resources.",
                "operationId": "PolicyAssignments_GetById",
                "parameters": [
                    {
                        "description": "The ID of the policy assignment to get. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'.",
                        "in": "path",
                        "name": "policyAssignmentId",
                        "required": true,
                        "x-ms-skip-url-encoding": true,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns information about the policy assignment.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The policy assignment.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy assignment.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy assignment.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the policy assignment.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "displayName": {
                                                    "description": "The display name of the policy assignment.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionId": {
                                                    "description": "The ID of the policy definition.",
                                                    "type": "string"
                                                },
                                                "scope": {
                                                    "description": "The scope for the policy assignment.",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the policy assignment.",
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "The policy assignment.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy assignment.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy assignment.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the policy assignment.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "displayName": {
                                                    "description": "The display name of the policy assignment.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionId": {
                                                    "description": "The ID of the policy definition.",
                                                    "type": "string"
                                                },
                                                "scope": {
                                                    "description": "The scope for the policy assignment.",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the policy assignment.",
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Gets a policy assignment by ID.",
                "tags": [
                    "PolicyAssignments"
                ]
            },
            "put": {
                "description": "Policy assignments are inherited by child resources. For example, when you apply a policy to a resource group that policy is assigned to all resources in the group. When providing a scope for the assignment, use '/subscriptions/{subscription-id}/' for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}' for resources.",
                "operationId": "PolicyAssignments_CreateById",
                "parameters": [
                    {
                        "description": "The ID of the policy assignment to create. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'.",
                        "in": "path",
                        "name": "policyAssignmentId",
                        "required": true,
                        "x-ms-skip-url-encoding": true,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created - Returns information about the policy assignment.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The policy assignment.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy assignment.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy assignment.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the policy assignment.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "displayName": {
                                                    "description": "The display name of the policy assignment.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionId": {
                                                    "description": "The ID of the policy definition.",
                                                    "type": "string"
                                                },
                                                "scope": {
                                                    "description": "The scope for the policy assignment.",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the policy assignment.",
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "The policy assignment.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy assignment.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy assignment.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the policy assignment.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "displayName": {
                                                    "description": "The display name of the policy assignment.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionId": {
                                                    "description": "The ID of the policy definition.",
                                                    "type": "string"
                                                },
                                                "scope": {
                                                    "description": "The scope for the policy assignment.",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the policy assignment.",
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Creates a policy assignment by ID.",
                "tags": [
                    "PolicyAssignments"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The policy assignment.",
                                "properties": {
                                    "id": {
                                        "description": "The ID of the policy assignment.",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The name of the policy assignment.",
                                        "type": "string"
                                    },
                                    "properties": {
                                        "description": "Properties for the policy assignment.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "displayName": {
                                                "description": "The display name of the policy assignment.",
                                                "type": "string"
                                            },
                                            "policyDefinitionId": {
                                                "description": "The ID of the policy definition.",
                                                "type": "string"
                                            },
                                            "scope": {
                                                "description": "The scope for the policy assignment.",
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": {
                                        "description": "The type of the policy assignment.",
                                        "type": "string"
                                    }
                                },
                                "x-ms-azure-resource": true,
                                "type": "object"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "description": "The policy assignment.",
                                "properties": {
                                    "id": {
                                        "description": "The ID of the policy assignment.",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The name of the policy assignment.",
                                        "type": "string"
                                    },
                                    "properties": {
                                        "description": "Properties for the policy assignment.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "displayName": {
                                                "description": "The display name of the policy assignment.",
                                                "type": "string"
                                            },
                                            "policyDefinitionId": {
                                                "description": "The ID of the policy definition.",
                                                "type": "string"
                                            },
                                            "scope": {
                                                "description": "The scope for the policy assignment.",
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": {
                                        "description": "The type of the policy assignment.",
                                        "type": "string"
                                    }
                                },
                                "x-ms-azure-resource": true,
                                "type": "object"
                            }
                        }
                    },
                    "description": "Parameters for policy assignment.",
                    "required": true
                }
            }
        },
        "/{scope}/providers/Microsoft.Authorization/policyassignments/{policyAssignmentName}": {
            "delete": {
                "description": "Deletes a policy assignment.",
                "operationId": "PolicyAssignments_Delete",
                "parameters": [
                    {
                        "description": "The scope of the policy assignment.",
                        "in": "path",
                        "name": "scope",
                        "required": true,
                        "x-ms-skip-url-encoding": true,
                        "schema": {
                            "type": "string"
                        },
                        "allowReserved": true
                    },
                    {
                        "description": "The name of the policy assignment to delete.",
                        "in": "path",
                        "name": "policyAssignmentName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns information about the deleted assignment.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The policy assignment.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy assignment.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy assignment.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the policy assignment.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "displayName": {
                                                    "description": "The display name of the policy assignment.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionId": {
                                                    "description": "The ID of the policy definition.",
                                                    "type": "string"
                                                },
                                                "scope": {
                                                    "description": "The scope for the policy assignment.",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the policy assignment.",
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "The policy assignment.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the policy assignment.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the policy assignment.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the policy assignment.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "displayName": {
                                                    "description": "The display name of the policy assignment.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionId": {
                                                    "description": "The ID of the policy definition.",
                                                    "type": "string"
                                                },
                                                "scope": {
                                                    "description": "The scope for the policy assignment.",
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the policy assignment.",
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
[...]
